*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

body{
    height: 100vh;
    background-color: #000;
    background-image: url(bg1.jpg);
    background-size: cover;
    background-position: center;
}
li{
    list-style:  none;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}
a:hover{
  
    color: #ffffff;
}
li:hover{
    background-color: #000;
    color: #ffffff;
    padding: 0.001rem 0.0001rem;
}

/*Header*/
header{
    position: relative;
    padding: 0 2rem;        
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;

}

.navbar .toggle_btn{
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: #000;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: beige;
}
.action_btn:active{
    scale: 0.95;
}
/*drop down menue */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: #08080874;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 200px;
}




.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*hero*/
section#hero{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}
#hero h1{
    font-size: 2.7rem;
    margin-bottom: 1rem;
}

/*responsice design*/
@media (max-width:992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}
@media (max-width:992px){
    .dropdown_menu{
        left:2rem;
        width: unset;
    }
}